<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiLibs" version="1.43.0" targetFramework="net472" />
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.5.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.5.1" targetFramework="net472" />
  <package id="DotNetCore.NPOI" version="1.2.3" targetFramework="net472" />
  <package id="DotNetCore.NPOI.Core" version="1.2.3" targetFramework="net472" />
  <package id="DotNetCore.NPOI.OpenXml4Net" version="1.2.3" targetFramework="net472" />
  <package id="DotNetCore.NPOI.OpenXmlFormats" version="1.2.3" targetFramework="net472" />
  <package id="Enums.NET" version="5.0.0" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.9.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.9.0" targetFramework="net472" />
  <package id="ExCSS" version="4.3.1" targetFramework="net472" />
  <package id="ExtendedNumerics.BigDecimal" version="3003.0.0.346" targetFramework="net472" />
  <package id="HarfBuzzSharp" version="7.3.0.3" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="7.3.0.3" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="7.3.0.3" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.13.0" targetFramework="net472" />
  <package id="J2N" version="2.0.0-beta-0012" targetFramework="net472" />
  <package id="Lucene.Net" version="4.8.0-beta00014" targetFramework="net472" />
  <package id="Lucene.Net.Analysis.Common" version="4.8.0-beta00014" targetFramework="net472" />
  <package id="Lucene.Net.Queries" version="4.8.0-beta00014" targetFramework="net472" />
  <package id="Lucene.Net.QueryParser" version="4.8.0-beta00014" targetFramework="net472" />
  <package id="Lucene.Net.Sandbox" version="4.8.0-beta00014" targetFramework="net472" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.7" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="8.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.SourceLink.Common" version="8.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="8.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="NCalc" version="6.4.0" targetFramework="net472" />
  <package id="NCalc.Core" version="6.4.0" targetFramework="net472" />
  <package id="NCalc.Domain" version="6.4.0" targetFramework="net472" />
  <package id="NCalc.Parser" version="6.4.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Parlot" version="1.5.7" targetFramework="net472" />
  <package id="PdfPig" version="0.1.16" targetFramework="net472" />
  <package id="Pkcs11Interop" version="5.3.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="RestSharp" version="114.0.0" targetFramework="net472" />
  <package id="SautinSoft.Document" version="2026.8.27" targetFramework="net472" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net472" />
  <package id="ShimSkiaSharp" version="3.2.1" targetFramework="net472" />
  <package id="SkiaSharp" version="3.119.2" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.9" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="3.119.2" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.2" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.2" targetFramework="net472" />
  <package id="SunnyUI" version="3.9.8" targetFramework="net472" />
  <package id="SunnyUI.Common" version="3.9.8" targetFramework="net472" />
  <package id="Svg.Custom" version="3.2.1" targetFramework="net472" />
  <package id="Svg.Model" version="3.2.1" targetFramework="net472" />
  <package id="Svg.Skia" version="3.2.1" targetFramework="net472" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="10.0.7" targetFramework="net472" />
  <package id="System.Console" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.7" targetFramework="net472" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="9.0.9" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="10.0.7" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="8.0.3" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="10.0.7" targetFramework="net472" />
  <package id="System.Text.Json" version="10.0.7" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net472" />
  <package id="ZString" version="2.6.0" targetFramework="net472" />
</packages>